.features {
    background: #2b1e16;
    padding-bottom: 60px;
    font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
  }
  
  .features .container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }
  
  .features .feature {
    text-align: center;
    padding-top: 80px;
  }
  
  @media (min-width: 900px) {
    .features .container {
      justify-content: space-between;
    }
  
    .features .feature {
      padding-top: 0px;
    }
  }
  
 .features .feature img {
    height: 200px;
    margin-bottom: 40px;
  }
  
 .features .feature h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
  }
  
  .features .feature p {
    font-size: 15px;
    width: 260px;
    color: #e0cbc1;
  }